## Lets understand dictionary

In [1]:
# Single key-value 
person = {
    "first":"John",
    "last":"Abhrahm",
    "email":"john@gmail.com"
}

In [2]:
#Dictionary with a single element list
person = {
    "first":["John"],
    "last":["Abhrahm"],
    "email":["john@gmail.com"]
}

In [3]:
#Dictionary with multiple list elements
people = {
    "first":["John", 'Brown', 'Harry'],
    "last":["Abhrahm", 'Doe', 'Peter'],
    "email":["john@gmail.com", 'doe@yahho.com', 'harry@redhat.com']
}

In [4]:
# If we want to access email-column by accessing email-key

people['email']

['john@gmail.com', 'doe@yahho.com', 'harry@redhat.com']

### Lets create a Dataframe for above Dictionary
#### Dataframes are similar to dictionay, but much much more than a dictionary
#### We can create dataframe from using Pandas for above data available

In [5]:
import pandas as pd
df = pd.DataFrame(people)

In [6]:
df

   first     last             email
0   John  Abhrahm    john@gmail.com
1  Brown      Doe     doe@yahho.com
2  Harry    Peter  harry@redhat.com

### Lets see how to access information within a dataframe

In [7]:
# lets access values of single colimn
# Method 1   -> preferred
df['email']

0      john@gmail.com
1       doe@yahho.com
2    harry@redhat.com
Name: email, dtype: object

In [8]:
type(df['email'])

pandas.core.series.Series

### What is a Series object:
#### A series is just like a list of data, with lot more functionality than list, 1D array, or rows of data 
#### A dataframe is a container of multiple series objects

In [9]:
#Method 2
df.email

0      john@gmail.com
1       doe@yahho.com
2    harry@redhat.com
Name: email, dtype: object

#### To access multiple columns

In [10]:
df[['last', 'email']]     #2 list brackets used to get multiple columns

      last             email
0  Abhrahm    john@gmail.com
1      Doe     doe@yahho.com
2    Peter  harry@redhat.com

In [11]:
#Access columns
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [12]:
# Access Rows -> 
# iloc -> access/searching rows with integer index location
# loc -> searching by labels

df.iloc[0]   #1st row, gives index as column names and then gives actual values of 1st row

first              John
last            Abhrahm
email    john@gmail.com
Name: 0, dtype: object

#### Access multiple rows

In [13]:
# We can access multiple rows by passing in lists of integers
df.iloc[[0,1]]

   first     last           email
0   John  Abhrahm  john@gmail.com
1  Brown      Doe   doe@yahho.com

In [14]:
df.iloc[[0,1], 2]      # To get email address ie access 3rd column of the 1st & 2nd row

0    john@gmail.com
1     doe@yahho.com
Name: email, dtype: object

In [15]:
df

   first     last             email
0   John  Abhrahm    john@gmail.com
1  Brown      Doe     doe@yahho.com
2  Harry    Peter  harry@redhat.com

In [16]:
#1st row
df.loc[0]

first              John
last            Abhrahm
email    john@gmail.com
Name: 0, dtype: object

In [17]:
# 1 & 2 row
df.loc[[0,1]]

   first     last           email
0   John  Abhrahm  john@gmail.com
1  Brown      Doe   doe@yahho.com

In [18]:
# Pass 2nd value to access 3rd column
df.loc[[0,1], ['email']]

            email
0  john@gmail.com
1   doe@yahho.com

In [19]:
df.loc[[0,1], ['email', 'last']]

            email     last
0  john@gmail.com  Abhrahm
1   doe@yahho.com      Doe